.slider h3,
.slider h5,
.Clients h4 {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.parallax-container{
	height: 20%;
}

.parallax img{
	filter: grayscale(1);	
	opacity: 0.5 !important;
}

.Clients img{
	max-width: 150px;
	filter : drop-shadow (1px 1px rgba(0,0,0,1.5));
}
footer{
      width:100%;
      height: auto;
      color:#ddd;
      font-size: 15px;
      font-family: monospace;
      background-color: #555;
      margin-top: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }
  